<html>

<head>
  <style>
    body {
      font-family: monospace
    }
  </style>
  <title>Kristof Gazso</title>
</head>

<body>
  <h1>Kristof Gazso</h1>
  <br />
  <br />
  I am the founder of <a href="https://pimlico.io">Pimlico</a>, looking to revolutionise Ethereum's account system.
  <br />
  Previously, I co-authored <a href="https://eips.ethereum.org/EIPS/eip-4337">ERC-4337</a>, the leading proposal to
  achieve Account Abstraction on Ethereum.
  <br />
  Before that, I worked as an Ethereum Core Developer / Researcher at <a href="https://nethermind.io">Nethermind</a>.
  <br />
  <br />
  <a href="https://twitter.com/kristofgazso">Twitter</a>
  <br />
  <a href="https://github.com/kristofgazso">Github</a>
  <br /><br />

  <br />
</body>

</html>